
@mixin liquid-absolute-override {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}

@mixin bg-z-indexes { // TODO: kill
    & .fc-non-business { z-index: 1 }
    & .fc-bg-event { z-index: 2 }
    & .fc-highlight { z-index: 3 }
}